body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 40%;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  font-weight: 700;
  background-color: #a89566;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}
:root {
  --swiper-navigation-color: #fff;
  --swiper-navigation-size: 15px !important;
}
.swiper-pagination-bullet {
  background-color: #a89566 !important;
}
